<tr>
    <td>{{posicion}}</td>
    <td>{{nombre}}</td>
    <td>{{partidos_jugados}}</td>
    <td>{{partidos_ganados}}</td>
    <td>{{partidos_empatados}}</td>
    <td>{{goles_favor}}</td>
    <td>{{goles_contra}}</td>
</tr>